.topFooter-Top {
  background-color: var(--maincolor--);
  text-align: center;
  padding: 20px 0px;

  justify-content: center;
}
.topFooter-Top > a {
  margin-right: 60px;
}

.topFooter-Bottom {
  padding: 20px 0px;
  justify-content: center;

  display: flex;
  background-color: var(--secondaryColor--);
}
.topFooter-Bottom > div {
  border-right: 4px solid var(--maincolor--);
  margin-right: 20px;
}
.topFooter-Bottom p {
  font-size: 20px;
  font-weight: 500;
  color: var(--maincolor--);
  margin-right: 20px;
}

.lowerFooter {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
.lowerFooter > div:nth-child(1) {
  flex-basis: 20%;
}
.lowerFooter > div:nth-child(1) > header {
  font-size: 45px;
  color: var(--maincolor--);
  font-weight: 600;
  font-family: "Comfortaa", cursive;
}
.lowerFooter > div > h1 {
  font-size: 18px;
  color: var(--maincolor--);
  margin-bottom: 10px;
}
.lowerFooter p {
  color: var(--maincolor--);
  font-weight: 400;
  color: black;
  margin-bottom: 6px;
}
