.pageOneRInfo {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 10vh 0;
}
.pageOneRInfoItem {
  display: flex;
  flex-basis: 33%;
  align-items: center;
}
.pageOneRInfoItem > p {
  margin-left: 10px;
  color: rgb(90, 90, 90);
  font-size: 18px;
}
.pageOneRButton {
  margin-top: 20vh;
  cursor: pointer;
  width: max-content;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 26px;
  background-color: rgb(53, 53, 53);
}
