.signInButton {
  width: 230px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
  background-color: var(--secondaryColor--);

  cursor: pointer;
}
.signInButton > p {
  font-weight: bold;
  letter-spacing: 1px;
}
